@import url('https://fonts.googleapis.com/css?family=Gentium+Book+Basic');

body {
    font-family: 'Gentium Book Basic', serif;
}

a {
    text-decoration: none;
    color: #222;
}

p {
    line-height: 1.8;
}

/* Footer */
.footer-wrapper span {
    float: right;
}
